body {
  font: {
    family: $font-family;
    size: $font-base;
    weight: 400;
    style: normal;
  }
  line-height: $line-base;
  color: $text-color;
  background-color: $bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
  &.prevent-scroll {
    height: 100vh;
  }
}

.main {
  padding-top: 97px;
}

@media screen and (max-width: 1200px) {
  .main {
    padding-top: 71px;
  }
}
