// Font sizes
// ----------
$font-base: 16px;

$line-base: 1.2;

// Web fonts
// ---------
$font-family: "Cabin", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

// Colors
// ------
$white: #fff;
$black: #000;
$text-color: #797979;
$bg: #f9f9f9;
$header-bg: #e6e6e6;
$blue: #27477a;
$blue-light: #859ccb;
$blue-dark: #323e5c;
$blue-darker: #02388c;
$green: #85ad0d;
$gray: #ededed;
$gray-light: #afafaf;
$gray-dark: #656363;

// Defaults
// --------
$base-width: 1135px;
$wide-width: 1750px;
