/*
 * Main Stylesheet
 * Created by devscolony
 * Contact: devscolony@gmail.com
*/
.hide {
  display: none;
}

.container-fluid {
  max-width: 1135px;
  margin: 0 auto;
}
.container-fluid.wide {
  max-width: 1750px;
}

.banner {
  overflow: hidden;
}
.banner h2,
.banner p {
  color: #fff;
}
.banner h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.banner h2 span {
  color: #afafaf;
}
.banner p {
  font-size: 18px;
  margin-bottom: 60px;
}
.banner-media {
  display: flex;
  gap: 45px;
  margin-bottom: 45px;
}
.banner-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.banner-col:first-child {
  padding-right: 0;
}
.banner-col:last-child {
  padding-left: 0;
}
.banner-content {
  padding: 55px 0;
  position: relative;
}
.banner-content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.banner-content.left-content {
  padding-right: 90px;
  background-color: #27477a;
}
.banner-content.left-content::after {
  right: calc(100% - 1px);
  background-color: #27477a;
}
.banner-content.left-content ul li a:hover {
  color: #27477a;
}
.banner-content.right-content {
  padding-left: 90px;
  background-color: #85ad0d;
}
.banner-content.right-content::after {
  left: calc(100% - 1px);
  background-color: #85ad0d;
}
.banner-content.right-content h2 span {
  color: #323e5c;
}
.banner-content.right-content ul {
  gap: 40px;
}
.banner-content.right-content ul li {
  text-align: center;
}
.banner-content.right-content ul li a {
  flex: 1;
}
.banner-content.right-content ul li a:hover {
  color: #85ad0d;
}
.banner-content.right-content ul li span {
  color: #85ad0d;
}
.banner-content.right-content ul li i {
  border-left: 14px solid #85ad0d;
}
.banner ul {
  display: flex;
  gap: 5px;
}
.banner ul li {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 22px;
  font-weight: 700;
  background-color: #fff;
  padding: 10px 13px;
  text-transform: uppercase;
  color: #989797;
}
.banner ul li span {
  color: #27477a;
}
.banner ul li a {
  color: #989797;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.banner ul li i {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 14px solid #27477a;
  margin-right: 15px;
}

@media screen and (max-width: 1740px) {
  .banner h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 1540px) {
  .banner ul li {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  .banner h2 {
    font-size: 24px;
  }
  .banner-content.left-content {
    padding-right: 60px;
  }
  .banner-content.right-content {
    padding-left: 60px;
  }
  .banner-content.right-content ul {
    gap: 30px;
  }
}
@media screen and (max-width: 1240px) {
  .banner h2 {
    font-size: 20px;
  }
  .banner p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .banner ul li {
    font-size: 14px;
  }
  .banner ul li i {
    margin-right: 10px;
  }
  .banner-media {
    gap: 30px;
  }
  .banner-content.left-content {
    padding-right: 40px;
  }
  .banner-content.right-content {
    padding-left: 40px;
  }
  .banner-content.right-content ul {
    gap: 20px;
  }
}
@media screen and (max-width: 992px) {
  .banner h2,
  .banner p {
    text-align: center;
  }
  .banner-col:first-child {
    padding-right: 15px;
  }
  .banner-col:last-child {
    padding-left: 15px;
  }
  .banner-content {
    max-width: 550px;
    margin: 0 auto;
    position: static;
  }
  .banner-content > * {
    position: relative;
    z-index: 2;
  }
  .banner-content.left-content {
    padding: 40px 0;
  }
  .banner-content.left-content::after {
    right: 0;
  }
  .banner-content.right-content {
    padding: 40px 0;
  }
  .banner-content.right-content::after {
    left: 0;
  }
}
@media screen and (max-width: 576px) {
  .banner ul {
    display: block;
  }
  .banner ul li + li {
    margin-top: 15px;
  }
}
.video {
  padding: 50px 0 80px;
}
.video h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 53px;
  font-weight: 900;
  color: #02388c;
}
.video h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #85ad0d;
  margin-bottom: 20px;
}
.video p {
  font-size: 17px;
  line-height: 1.4;
}
.video p + p {
  margin-top: 25px;
}
.video-title {
  margin-bottom: 5px;
}
.video-embed {
  position: relative;
  padding-bottom: 52%;
  height: 0;
  overflow: hidden;
}
.video-embed iframe,
.video-embed object,
.video-embed embed,
.video-embed video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .video-content {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .video {
    padding: 60px 0;
  }
  .video h2 {
    font-size: 34px;
  }
  .video h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .video p {
    font-size: 16px;
  }
  .video p + p {
    margin-top: 15px;
  }
  .video-content {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 420px) {
  .video h2 {
    font-size: 28px;
  }
}
.services {
  padding: 80px 0 90px;
  background-color: #ededed;
}
.services-box {
  padding: 45px 40px 70px;
  height: 100%;
}
.services-box img {
  display: block;
  max-width: 260px;
  width: 100%;
  height: auto;
  margin: 0 auto 40px;
}
.services-box h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}
.services-box p {
  font-size: 17px;
  line-height: 1.4;
  color: #fff;
}
.services-box p + p {
  margin-top: 30px;
}
.services-box.left-box {
  background-color: #85ad0d;
}
.services-box.left-box h2 span {
  color: #323e5c;
}
.services-box.left-box p strong {
  color: #323e5c;
}
.services-box.right-box {
  background-color: #27477a;
}
.services-box.right-box h2 span {
  color: #859ccb;
}
.services-box.right-box p strong {
  color: #859ccb;
}

@media screen and (max-width: 1200px) {
  .services-box h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .services-col:first-child {
    margin-bottom: 50px;
  }
  .services-box {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .services {
    padding: 60px 0;
  }
  .services-col:first-child {
    margin-bottom: 30px;
  }
  .services-box {
    padding: 30px 20px 40px;
  }
  .services-box img {
    margin: 0 auto 20px;
  }
  .services-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .services-box p {
    font-size: 16px;
  }
  .services-box p + p {
    margin-top: 15px;
  }
}
body {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #797979;
  background-color: #f9f9f9;
  overflow-x: hidden;
}
body.prevent-scroll {
  height: 100vh;
}

.main {
  padding-top: 135px;
}

@media screen and (max-width: 1200px) {
  .main {
    padding-top: 108px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header-top {
  padding: 9px 0 11px;
  background-color: #27477a;
}
.header-top a {
  display: inline-block;
  padding: 0 6px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #aaaaaa;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.header-top a:active, .header-top a:hover {
  color: #85ad0d;
}
.header-top a:nth-child(2) {
  border-right: 1px solid #aaaaaa;
  padding-right: 7px;
}
.header-top a:last-child {
  padding-right: 0;
}
.header-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-main {
  background-color: #e6e6e6;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}
.header .logo img {
  max-width: 168px;
}

.nav ul li {
  display: inline-block;
  padding: 0 10px;
}
.nav ul li a {
  text-transform: uppercase;
  color: #656363;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.nav ul li a:active, .nav ul li a:hover {
  color: #27477a;
}
.nav ul li:last-child {
  padding-right: 0;
}

.toggle-button {
  display: none;
  width: 26px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.toggle-button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #27477a;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.toggle-button span:nth-child(1) {
  top: 0px;
}
.toggle-button span:nth-child(2),
.toggle-button span:nth-child(3) {
  top: 9px;
}
.toggle-button span:nth-child(4) {
  top: 18px;
}
.toggle-button.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}
.toggle-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.toggle-button.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

@media screen and (max-width: 1200px) {
  .header-top a {
    font-size: 13px;
  }
  .header .logo img {
    max-width: 120px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .nav ul li {
    padding: 0 5px;
  }
  .nav ul li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .header .toggle-button {
    display: inline-block;
    z-index: 2;
  }
  .nav ul {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 360px;
    height: 100vh;
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .nav ul li {
    display: block;
    padding: 16px 18px;
    line-height: 1;
  }
  .nav ul li + li {
    margin: 0;
  }
  .nav.active ul {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 480px) {
  .nav ul {
    width: 320px;
    height: 100vh;
    padding: 60px 20px;
  }
}
.footer {
  padding: 55px 0 75px;
  background-color: #27477a;
  color: #fff;
}
.footer ul {
  display: flex;
}
.footer ul li {
  flex: 0 1 25%;
  text-align: center;
  font-size: 17px;
  line-height: 1.4;
}
.footer ul li img {
  display: block;
  max-width: 61px;
  height: auto;
  margin: 0 auto 15px;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer ul li a:hover {
  color: #85ad0d;
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 40px 0 50px;
  }
  .footer ul {
    flex-wrap: wrap;
  }
  .footer ul li {
    padding: 15px;
    flex: 1 0 50%;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 0 30px;
  }
  .footer ul {
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer ul li {
    padding: 10px 0;
    flex: 1 0 calc(50% - 15px);
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .footer ul li {
    font-size: 15px;
  }
}